.show-weather {
    font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
    width: 50%;
    display: flex;
    justify-content: center;
}

h4 {
    margin-top: 0;
    margin-bottom: 0;
    font-weight: 500;
}

.weather-head {
    display: flex;
    /* justify-content: center; */
    align-items: center;
}

.weather-head div {
    margin-left: 0.5rem;
    margin-bottom: 1rem;
}

.city-name {
    font-size: 1rem;
    margin: 0;
}

p {
    display: flex;
    align-items: center;
    gap: 0.4rem;
}

.head-icons {
    font-size: 3.5rem;
}